@mixin point-to-nine_image--cover {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@mixin point-to-nine_image--uncover {
  flex-direction: column;

  &:before {
    position: relative;
    height: auto;
  }

  > :nth-child(1n) {
    margin: auto;
    min-height: initial;
  }
}

@mixin point-to-nine_image ($src: none, $basis: initial) {
  &:before {
    content: "";
    min-height: $basis;
    background-image: $src;
  }
}

@mixin point-to-nine_image--interest ($point: 50% 50%) {
  &:before {
    background-position: $point;
  }
}
