@mixin pt9_image--basis($basis:0) {
  @if $basis > 0 {
    min-height: $basis;
  }
}

@mixin pt9_image--cover($basis:0) {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    @include pt9_image--basis($basis);
  }
}

@mixin pt9_image--uncover {
  flex-direction: column;

  &:before {
    position: relative;
    height: auto;
  }

  > :nth-child(1n) {
    margin: auto;
    min-height: initial;
  }
}

@mixin pt9_image ($src: none, $basis: 0) {
  &:before {
    background-image: $src;
    @if $src == none {
      content: $src;
    } @else {
      content: "";
    }
    @include pt9_image--basis($basis);
  }
}

@mixin pt9_image--interest ($point: 50% 50%) {
  &:before {
    background-position: $point;
  }
}
