@mixin pt9_items($area: 100% 25em, $point: 50% 50%, $direction: row, $items: ()) {

  display: flex;
  flex-direction: $direction;
  justify-content: space-between;

  $length: length($items);

  @for $i from 1 through $length {
    > :nth-child(#{$i}) {

      $align-index: nth($items, $i);
      $anchor: false;

      @if $i == 1 {
        $anchor: true;
      } @else if $i == $length {
        $anchor: true;
      }
      @include pt9_slice--align($align-index);
      @if anchor {
        @include pt9_slice--margin(nth($area, 2), nth($point, 2), $align-index);
        @include pt9_slice--area($area, $point, $direction, $align-index);
      } @else {
        @include pt9_slice--margin(0, 0, $align-index);
      }
    }
  }
}
