@mixin pt9_items($area: 100% 25em, $point: 50% 50%, $direction: row, $items: ()) {

  display: flex;
  flex-direction: $direction;
  justify-content: space-between;

  @each $selection, $slice in $items {
    #{$selection} {
      $length: length($slice);
      @if $length > 0 {
        $slice-self: nth($slice, 1);
        @include pt9_slice--align($slice-self);
        @include pt9_slice--area($area, $point, $direction, $slice-self);
        @include pt9_slice--margin($slice-self);
      }
      @if $length > 1 {
        @include pt9_slice-content(nth($slice, 2));
      }
    }
  }
}
