@import "rgb-kind";
@import "debug";
@import "image";
@import "slice";
@import "items";

@mixin point-to-nine($area: 100% 20em, $point: 50% 50%, $direction: row, $alignments: ()) {
  margin: 0;
  max-width: nth($area, 1);
  min-height: nth($area, 2);
  @include point-to-nine_image--interest($point);
  @include point-to-nine_items($area, $point, $direction, $alignments);
}
